.side_contents  

  .side-bar_user-name
    .side-bar_user-name--user-name
      .side-bar_user-name--user-name__name
        = current_user.name
      .side-bar_user-name--user-name__icon
        =link_to new_group_path(current_user), class: "contents__btn contents__btn--icon1" do
          <i class="fas fa-edit icon1"></i>
        =link_to edit_user_path(current_user), class: "contents__btn contents__btn--icon2" do
          <i class="fas fa-cog icon2"></i>

  .side_group
    .side-bar_group-list
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .side-bar_group-list--group_name
              = group.name
            .side-bar_group-list--group_message
              = group.show_last_message

