.header
  .side-bar_user-name
    .side-bar_user-name--user-name
      .side-bar_user-name--user-name__name
        = current_user.name
      .side-bar_user-name--user-name__icon
        =link_to new_group_path(current_user), class: "contents__btn contents__btn--icon1" do
          <i class="fas fa-edit icon1"></i>
        =link_to edit_user_path(current_user), class: "contents__btn contents__btn--icon2" do
          <i class="fas fa-cog icon2"></i>
  .chat-main_group-info
    .chat-main_group-info--name
      test
    .chat-main_group-info--edit-button
      =link_to "https://＃", class: "contents__btn contents__btn--Edit" do
        Edit
    .chat-main_group-info--menber
      Menber:masa

.contents
  .side-bar_group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .side-bar_group-list--group_name
            = group.name
          .side-bar_group-list--group_message
            まだメッセージがありません
  .chat-main_message-list
    .chat-main_message-list--info
      .chat-main_message-list--info__member
        masa
      .chat-main_message-list--info__data
        2019/11/20(Wed) 17:43:01
    .chat-main_message-list--message
      おはよう!
    .chat-main_message-list--info2
      .chat-main_message-list--info2__member2
        masa
      .chat-main_message-list--info2__data2
        2019/11/20(Wed) 17:43:01
    .chat-main_message-list--message2
      今日は夜から雨
.footer
  .chat-main_message-form
    .chat-main_message-form--box
      .chat-main_message-form--box__area
        %form
          %input{type: "text", placeholder: "type a message", style: "width:800px;height:50px;"}
        .chat-main_message-form--box__area--icon
          %label{class: "input-box__image"}
            <i class="fas fa-image"></i>
            %input{type: "file", name: "datafile", id: "filesend"}
    .chat-main_message-form--button
      =link_to "https://＃", class: "contents__btn contents__btn--send" do
        send