@import "./reset";
@import "config/colors";
@import "./messages";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "modules/user";
@import "modules/flash";
@import "./group";

.side_contents {
  height: auto;
  width:300px;
  float:left;
}

.main_contents{
  height: auto;
  width:calc(100vw - 300px);
  float: right;
}

.side-bar_user-name{
  width:300px;
  height:100px;
  background-color: #253141;
  display:flexbox;
  display:flex;
  align-items: center;
  justify-content: center;
  &--user-name{
    width:260px;
    height:20px;
    background-color:#253141;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    margin-left:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    &__icon{
      width:60px;
      height:20px;
      background-color:#253141;
      display:flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.icon1{
  color:#ffffff;
  padding-right:5px;
}

.icon2{
  color:#ffffff;
  margin-right:20px;
}

.chat-main_group-info{
  width:calc(100vw - 300px);
  height:100px;
  background-color: #ffffff;
  border-bottom:solid #eeeeee;
  position:relative;
  display:flex;
  justify-content: space-between;
  &--name{
    color:#333333;
    font-size:20px;
    margin:35px 15px 0px 40px;
  }

  &--edit-button{
    color:#38aef0;
    width:72px;
    height:40px;
    text-align:center;
    border:solid ;
    font-size:16px;
    margin:28px 28px 40px 0px;
  }

  &--menber{
    color:#999999;
    font-size:12px;
    position:absolute;
    margin-left:40px;
    bottom: 0px;
  }
}

.contents__btn--Edit{
  color:#38aef0;
  text-decoration: none;
  display:block;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}

.side-bar_group-list{
  width:300px;
  height:calc(100vh - 100px);
  background-color:#2f3e51;
  float:left;
  &--group_name{
    color:#ffffff;
    font-size:15px;
    font-weight: bold;
    margin:20px 5px 0px 20px;
  }
  &--group_message{
    color:#ffffff;
    font-size:11px;
    font-weight: bold;
    margin:0px 0px 0px 20px;
  }
}

.chat-main_message-list{
  width:calc(100vw - 300px);
  height:calc(100vh - 190px);
  background-color: #fafafa;
  overflow: scroll;
  float:right;
  &--info{
    display:flex;
    &__member{
      color:#333333;
      font-size:16px;
      margin:35px 12px 0px 40px;
    }
    &__data{
      color:#999999;
      font-size:12px;
      margin:35px 12px 0px 0px;
    }
  }
  &--message{
    color:#434A54;
    font-size:14px;
    margin:0px 46px 0px 40px;
  }

  &--info2{
    display:flex;
    &__member2{
      color:#333333;
      font-size:16px;
      margin:46px 12px 0px 40px;
    }
    &__data2{
      color:#999999;
      font-size:12px;
      margin:46px 0px 0px 0px;
    }
  }
  &--message2{
    color:#434A54;
    font-size:14px;
    margin-left:40px;
  }
}

.chat-main_message-form{
  width:calc(100vw - 300px);
  height:90px;
  background-color:#d2d2d2;
  float:right;
  display: flex;
  align-items: center;
  &--box{
    margin-left:40px;
    position: relative;
    &__area{
      &--icon{
        position:absolute;
        right:70px;
        top:10px;
      }
    }
  }
  &--button{
    color:white;
    background-color: #38aef0;
    width:72px;
    height:50px;
    text-align:center;
    font-size:16px;
    margin-left:15px;
  }
}

.filesend{
  display:none;
}

.contents__btn--send{
  text-decoration:none;
  color:#ffffff;
  display:block;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}